header {
  background-color: var(--leaf-green);
  height: 90px;
}

.flex-wrapper {
  height: 100px;
}

.left-flex {
  justify-content: flex-start;
  flex: 1 30%;
  order: 1;
  align-self: center;

  img {
    margin-left: 140px;
    width: 175px;
  }
}

.right-flex {
  margin-right: 100px;
  align-self: center;
  justify-content: flex-end;
  flex: 1 50%;
  order: 2;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;

    span {
      font-family: rowdies-regular;
      color: var(--bold-green);
      font-size: 17px;
    }

    li {
      margin: auto;
    }
  }
}

.cart-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bold-green);
  width: 45px;
  height: 45px;
}

.cart-icon {
  width: 30px;
  height: auto;
}
