<header>
  <div class="flex-row-container flex-wrapper">
    <div class="left-flex">
      <img src="assets/images/web/logo-header.svg" alt="Logo">
    </div>
    <div class="right-flex">
      <ul>
        <li>
          <span>BOOKS</span>
        </li>
        <li>
          <span>SUTRAS</span>
        </li>
        <li>
          <span>PICTURES</span>
        </li>
        <li>
          <span>FEEDBACK</span>
        </li>
        <li>
          <div class="cart-icon-div btn-action-style circle-div-header">
            <img class="cart-icon" src="assets/images/web/icon-cart.svg" alt="Cart Icon">
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
