<footer>
  <div class="flex-row-container content-wrapper">
    <div class="left-half-row">
      <div class="left-foot-intro">
        <img src="assets/images/web/logo-light-green.svg" alt="Logo"/>
        <span>Neque porro quisquam est qui dolorem ipsum quia dolor</span>
      </div>
    </div>
    <div class="right-half-row">
      <ul class="right-foot-wrapper">
        <li>
          <span>Books</span>
        </li>
        <li>
          <span>Sutras</span>
        </li>
        <li>
          <span>Pictures</span>
        </li>
        <li>
          <span>Feedback</span>
        </li>
        <li>
          <div class="">
            <img class="fb-icon" src="assets/images/web/facebook.svg" alt="Facebook Icon">
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
