<div class="card-shadow book-card-box">
  <img src="assets/images/web/test-book-cover-rs.jpg" alt="Book Item"/>
  <div class="book-item-info">
    <span class="txt-title-card">Neque porro quisquam est qui dolorem ipsum quia dsssssssssssss</span>
    <div class="item-details">
      <div class="circle-div-header div-icon-book-tag">
        <img src="assets/images/web/icon-book-tag.svg"/>
      </div>
      <span class="txt-desc-beside-icon">Neque porro qs neque porro qs neque porro qs</span>
    </div>
  </div>
</div>
