<div class="flex-col-container content-container">
  <div class="title-wrapper">
    <div class="circle-div-header">
      <img src="assets/images/web/icon-location.svg">
    </div>
    <label class="txt-header-region">Neque porro</label>
  </div>
  <label class="txt-desc-below-header">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</label>
  <div class="form-bg-outline-container box-outline">
    <div class="flex-col-container">
      <div class="flex-row-container">
        <div class="left-half-row flex-col-container">
          <label class="txt-title-form">Neque porro quisquam est qui dolorem</label>
          <div class="input-box">
            <input class="input-common input-full-width" placeholder="Receiver name">
            <span class="icon fa fa-lg fa-user"></span>
          </div>
          <div class="input-box">
            <input class="input-common input-full-width" placeholder="Receiver phone number">
            <span class="icon fa fa-lg fa-phone"></span>
          </div>
        </div>
        <div class="right-half-row">
          <label class="txt-title-form">Neque porro quisquam est qui dolorem</label>
          <div class="flex-row-container">
            <div class="input-box">
              <app-select-box title="Province"></app-select-box>
              <app-select-box class="district-container" title="District"></app-select-box>
            </div>
            <div class="input-box">
              <app-select-box title="Ward"
                              type="double-size"></app-select-box>
            </div>
            <div class="input-box">
              <input class="input-common input-full-width" placeholder="Receiver house num, road">
              <span class="icon fa fa-lg fa-home"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-row-container btn-group-container">
        <button class="button-common button-filled">CONTINUE</button>
        <button class="button-common button-outline btn-back">BACK</button>
      </div>
    </div>
  </div>
</div>
