<div class="above-page flex-row-container">
  <div class="left-half-row col-flex-wrapper">
    <label class="txt-header-region txt-header-intro">Neque porro quisquam est qui</label>
    <label class="txt-desc-below-header txt-below-header-intro">Neque porro quisquam est qui dolorem ipsum quia dolor
      sit amet, consectetur, adipisci velit</label>
  </div>
  <div class="right-half-row right-form-wrapper">
    <div class="input-box">
      <input class="input-common" placeholder="Search">
      <span class="icon fa fa-search"></span>
    </div>
    <div class="circle-div-header btn-action-style btn-filter">
      <img src="assets/images/web/icon-filter.svg">
    </div>
  </div>
</div>
<div class="books-list">
  <label class="txt-header-region">Neque porro</label>
  <label class="txt-desc-below-header">Neque porro quisquam est qui dolorem ipsum quia dolor</label>
  <div class="book-cards">
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
    <app-book-card></app-book-card>
  </div>
</div>
