:root {
  --white: #FFFFFF;
  --light-green: #DEF4C6;
  --leaf-green: #B1CF5F;
  --average-green: #1C7C54;
  --bold-green: #1B512D;
  --bg-green: #F5FCEE;
  --shadow: #00000029;
  --txt-desc-tiny: #00000099;
  --txt-desc-large: #000000B3;
  --txt-title: #000000CC;
  --border-outline: #00000021;
  --icon-grey: #0000004D;
  --txt-title-bold: #000000D9;
  --icon-input: #00000033;
  --bg-area: #00000008;
  --txt-input: #0000008C;
  --txt-below-icon: #000000A6;
  --line: #07070726;
  --txt-tiny-detail: #00000066;
  --normal-rowdies: normal normal normal Rowdies;
  --bold-rowdies: normal normal bold Rowdies;
  --normal-gotu: normal normal normal Gotu;
  --normal-300-rowdies: normal normal 300 Rowdies;
}

@font-face {
  font-family: rowdies-light;
  src: url("assets/fonts/Rowdies/Rowdies-Light.ttf");
}

@font-face {
  font-family: rowdies-regular;
  src: url("assets/fonts/Rowdies/Rowdies-Regular.ttf");
}

@font-face {
  font-family: rowdies-bold;
  src: url("assets/fonts/Rowdies/Rowdies-Bold.ttf");
}

@font-face {
  font-family: gotu-regular;
  src: url("assets/fonts/Gotu/Gotu-Regular.ttf");
}
.box-outline {
  background: var(--white) no-repeat 0 0;
  border: 1px solid var(--border-outline);
}

.card-shadow {
  background: 0 0 no-repeat padding-box var(--white);
  box-shadow: 0 3px 6px var(--shadow);
}

.txt-header-region {
  font-family: rowdies-bold;
  color: var(--bold-green);
  font-size: 28px;
}

.txt-desc-below-header {
  color: var(--txt-desc-large);
  font-size: 19px;
  font-family: gotu-regular;
}

.txt-title-card {
  font-family: rowdies-light;
  text-align: left;
  font-size: 18px;
  color: var(--txt-title);
}

.txt-desc-beside-icon {
  font: var(--normal-gotu);
  font-size: 16px;
  color: var(--txt-desc-tiny);
  text-align: left;
}

.txt-title-form {
  font: var(--normal-300-rowdies);
  text-align: left;
  color: var(--txt-title);
  font-size: 18px;
}

.txt-tiny-desc-input {
  font: var(--normal-gotu);
  text-align: left;
  font-size: 14px;
  color: var(--txt-input);
}

.txt-large-desc-in-box {
  font: var(--normal-gotu);
  color: var(--txt-title);
  text-align: left;
  font-size: 18px;
}

.txt-small-note {
  font: var(--normal-gotu);
  text-align: left;
  font-size: 14px;
}

.txt-total {
  font: var(--normal-300-rowdies);
  color: var(--txt-title);
  text-align: left;
  font-size: 20px;
}

.txt-total-number {
  font: var(--normal-rowdies);
  color: var(--txt-title);
  text-align: left;
  font-size: 22px;
}

.circle-div-header {
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background: 0 0 no-repeat padding-box var(--average-green);
}

.button-common {
  padding: 19px 95px;
  height: 59px;
  text-align: center;
  border-radius: 37px;
  font: var(--normal-rowdies) 18px;
}

.button-filled {
  background: var(--average-green) 0 0 no-repeat padding-box;
  color: var(--white);
}

.button-outline {
  background: var(--white) 0 0 no-repeat padding-box;
  border: 1px solid var(--average-green);
  color: var(--average-green);
}

.input-common {
  padding-left: 50px;
  height: 53px;
  border-radius: 28px;
  border: 1px solid var(--border-outline);
  background: var(--white) 0 0 no-repeat padding-box;
  outline: none;
  font-family: gotu-regular;
  color: var(--txt-input);
  font-size: 16px;
}

.input-common:focus {
  color: var(--txt-title);
  border-color: var(--leaf-green) !important;
}

.input-icon {
  width: 31px;
  height: 31px;
  background: 0 0 no-repeat padding-box var(--icon-input);
  padding: 17px 0 41px;
}

.input-text-inline {
  padding-left: 41px;
}

.circle-animation {
  width: 101px;
  height: 101px;
  background: var(--leaf-green) 0 0 no-repeat padding-box;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.left-half-row {
  flex: 1 50%;
  order: 1;
  justify-content: flex-start;
}

.right-half-row {
  flex: 1 50%;
  order: 2;
  justify-content: flex-end;
}

.icon {
  padding-left: 25px;
  position: absolute;
  color: var(--icon-input);
}

.btn-action-style {
  cursor: pointer;
}

.btn-action-style:hover {
  opacity: 0.5;
}
