<div class="book-details-container">
  <div class="flex-row-container">
    <div class="left-half-row">
      <div class="book-img-container">
        <img class="main-img" src="assets/images/web/test-book-cover-rs.jpg">
        <div class="sub-img-container">
          <img src="assets/images/web/test-book-cover-rs.jpg">
          <img class="sub-img-below" src="assets/images/web/test-book-cover-rs.jpg">
        </div>
      </div>
    </div>
    <div class="right-half-row details-container">
      <span class="book-title">Neque porro quisquam est qui dolorem</span>
      <div class="details-group">
        <div class="detail-element">
          <div class="circle-div-header">
            <img class="icon-label" src="assets/images/web/icon-author.svg"/>
          </div>
          <span class="txt-desc-beside-icon">Neque porro quisquam</span>
        </div>
        <div class="detail-element">
          <div class="circle-div-header circle-div-icon">
            <img class="icon-label icon-pages" src="assets/images/web/icon-pages.svg"/>
          </div>
          <span class="txt-desc-beside-icon">231 pages</span>
        </div>
        <div class="detail-element">
          <div class="circle-div-header circle-div-icon">
            <img class="icon-label icon-size" src="assets/images/web/icon-size.svg"/>
          </div>
          <span class="txt-desc-beside-icon">19x27 cm</span>
        </div>
      </div>
      <button class="button-common btn-download">
        <img src="assets/images/web/icon-download.svg">
        <span>Download .pdf</span>
      </button>
      <div class="quantity-container">
        <app-quantity-box></app-quantity-box>
        <span class="txt-storage">Quantity in stock: 100</span>
      </div>
      <div class="btn-action-container">
        <button class="button-common button-filled">ADD</button>
        <button class="button-common button-outline btn-checkout">CHECK OUT</button>
      </div>
    </div>
  </div>
  <div class="summary-container">
    <label>Summary</label>
    <div class="summary-para">
      <p class=" txt-large-desc-in-box">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      <p class=" txt-large-desc-in-box">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
    </div>
  </div>
</div>
